@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}
a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 0.2em;
}

/***************Main Background**********************/
header{
	background-image: url('../img/hero.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
	padding: 0;
}
.navigation_phone{
	display: none;
	transition: background-color 1s ease-in 0s;
}
.navigation{
	display: flex;
	position: fixed;
    width: 100vw;
	top: 0;
	left: 0;
	transition: background-color 1s ease-in 0s;
}
.navigation_scroll{
	background-color:#4c3c3c;
	padding: 0.5em 0em;
}
.icon{
	padding: 0.5em;
	border: solid #e3ecf7 2px;
	border-radius: 7px;
}
nav div{
  text-align: center;
  flex:1 1 auto;
  padding-top: 1em;
}
.caption{
	text-align: center;
	font-weight: bold;
	padding: 15%;
	width:fill;
	color: white;
	font-size: 2em;
	animation: anime 3s ease-in 0s 1;
}
@keyframes anime{
	from{
		color: transparent;
	}
	to{
		color: white;
	}
}	
.logo{
	text-align: center;
}
.navigation div:nth-of-type(4) a{
		font-family: 'optane'; 
		font-size: 2em;
		color: white;
}
.navigation a:hover{
	color: rgba(255,255,255,0.7);
}
.navigation div:nth-of-type(4) a:hover{
	color: white;
}
@media (max-width: 1000px){
    .navigation{
    	display: none;
    }
    .navigation_phone{
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
        width: 100vw;
    	background-color: #4c3c3c;
    	position: fixed;
		top: 0;
		left: 0;
		color: black;
    }
    .navigation_phone div {
    	padding: 1.5em;
    }
    .button_click{
    	display: none;
    	width: 100vw;
    	background-color: #4c3c3c;
    }
    .button_click div{
    	text-align: left;
    	font-size: 1em;
    	padding: 0.5em;
    }
    .logo_phone{
      text-align: left;

    }
    .logo_phone a{
       font-family: 'optane';
       font-size: 1.5em;
       color: white;
    }
    .button{
    	text-align: right;
    }
    .button_click div a:hover{
	    color: rgba(255,255,255,0.7);
    }
    .caption{
    	font-size: 1.5em;
    	padding-top: 30%;
    }
}
@media (max-width: 450px){
    .logo_phone a{
       font-family: 'optane';
       font-size: 1em;
       color: white;
    }
    .caption{
    	font-size: 1.2em;
    	padding-top: 50%;
    }
}
/************** Review Section**************/

.reviews{
	width: 100%;
	height: 300px;
	padding-top: 2em;
	background-color: #fff4f4;
}
.reviews h1{
 text-align: center;
 font-size: 1.5em;
}
.reviews_container{
	display: flex;
	justify-content: center;
	padding-top: 1em;
}
.reviews_container p{
	width: 50%;
	padding:2em;
	font-style: italic;
}
.image_card img{
	border-radius: 50%;
}
.image_card{
	display: flex;
	flex-direction:column;
}
.image_card h3{
  font-weight: normal;
  padding-top:0.5em;
  text-align: center; 
}
.buttons{
	display: flex;
	justify-content: center;
}
.buttons button{
	background: transparent;
	border: none;
	padding: 1em;
}



/********Services offered************/

.section_facilities{
    padding-top: 1em;
    text-align: center;
    padding-bottom:3em;
}
.hero{
    font-size: 1.75em;
    text-transform: uppercase;
}
.section_facilities hero{
    font-size: 3em;
}
.facilities{
    padding-top: 2em;
    display: flex;
}
.service{
    display: flex;
    border: 1px solid brown;
    border-radius: 15px;
    margin:0 0.5em;
    width: 30%;
    flex: 1 1 auto; 
    flex-direction: column;
}
.work_icon{
    font-size: 10em;
    color: #46e9f2;
    font-weight: 1px;
}
.service p{
    padding: 1em;
}
@media(max-width: 685px){
    .facilities{
        display: flex;
        flex-direction: column;
        width: 100%;
     }
    .service{
        width: 75%;
        margin-left:12.5%;
        margin-top: 1em;
    } 
}

/**********Footer************/
footer {
	background-color:#15171c; 
	padding: 1em 1em;
	color: white;
}	
