<!DOCTYPE html>
<html>
<head>
	<title>Weather Insulations</title>
	<link rel="stylesheet" type="text/css" href="../public/css/AboutUs.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<!-- Header nav bar and hero background -->
<header>
		<div class="head">
		<nav class="navigation">
			<div><a href="#">About Us</a></div>
			<div><a href="#">FAQ</a></div>
			<div><a href="#">Facilities</a></div>
			<div class="logo"><a href="" class="font">Weather Insulations</a></div>
			<div><a href="#">Contact Us</a></div>
			<div><a href="#">Gallery</a></div>			
			<div><a href="#"><i class="fas fa-user-plus"></i></a></div>
		</nav>
		<!-- for mobile and tablet view view width 900px-->
		<nav class="navigation_phone">
			<div class="logo_phone"><a href="">Weather Insulations</a></div>
			<div class="button"><a href="#" class="icon"><i class="fas fa-bars"></i></a></div>
            <div class="button_click">
             <div><a href="#">About us</a></div>
			 <div><a href="#">FAQ</a></div>
			 <div><a href="#">Facilities</a></div>
			 <div><a href="#">Contact Us</a></div>
			 <div><a href="#">Gallery</a></div>
			 <div><a href="#">Login</a></div>
            </div>
		</nav>
	
	
	</div>
</header>
<div  id="caption">
			Waterproofing solutions - inside out
		</div>
	<!-- Reviews Section -->

	<section class="AboutUs">
		<div id="AboutUsHeading">
			<h1> About Us </h1>
		</div>
		<div class="Data">
			<h2>
				 This is our website
			</h2>
			<p>
				Waterproof fabrics are fabrics that are inherently, or have been treated to become, resistant to penetration by water and wetting. The term "waterproof" refers to conformance to a governing specification[1] and specific conditions of a laboratory test method. They are usually natural or synthetic fabrics that are laminated to or coated with a waterproofing material such as rubber, polyvinyl chloride (PVC), polyurethane (PU), silicone elastomer, fluoropolymers, and wax. Treatment could be either of the fabric during manufacture or of completed products after manufacture, for instance by a waterproofing spray. Examples include the rubberised fabric used in Mackintosh jackets, sauna suits and inflatable boats.

The most common waterproofing treatment in the early 2000s was the application of C8 fluorocarbon-based textile finishes during manufacture. However, environmental and health concerns led to a transition to C6 fluorocarbon-based finishes and the development of alternative chemistries, such as ChemStik technology, a solvent-free process involving the on-surface polymerization of hydrocarbon chains.[2]
			</p>
		</div>
		<!--<div class="reviews_container">
			<div class="image_card">
				<img src="img/person.jpeg" style="width: 150px; height: 150px" class="reiew_person" alt="Random Person">
				<h3>Eiusmod laboris</h3>
			</div>			
			<p>
			“Incididunt nulla cillum adipisicing aliqua aliquip et veniam elit elit fugiat id ullamco anim aliquip sint quis sed esse ad cupidatat eiusmod laborum voluptate.”
		    </p> 
		</div>
		<div class="buttons">
			<button><i class="fas fa-chevron-left"></i></button>
		    <button><i class="fas fa-chevron-right"></i></button>
		</div> 	-->	
	</section> 

</body>
	<script type="text/javascript" src="AboutUs.js"></script>
</html>